.BorderPane{
    -fx-background-color:  #262626;
}

.vBox{
    -fx-background-color:  #262626;


}

.panelCentral{
    -fx-background-color: #262626;
}

.vBoxsub{
    -fx-background-color: #131313;

}

.btn{
    -fx-background-color:  #262626;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-family: "Arial Rounded MT Bold";
}

.Label_Nombre{
-fx-font-family: "Arial Rounded MT Bold";
}
.label_opcionesUsuario{
    -fx-text-fill:  white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.label_opcionesUsuarioHover{
    -fx-text-fill:  green;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}


.panelUsuario{

    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 20 20 20 20;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);

}
.btn_sesionout{
    -fx-background-color: white;
    -fx-text-fill: Black;
    -fx-font-size: 12px;
     -fx-background-radius: 10 10 10 10;
        -fx-border-radius: 10 10 10 10;

}

.btnsub{
    -fx-background-color: #131313;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;

}
.btn:hover{
    -fx-background-color: #7C7979;
}

.btnsub:hover{
    -fx-background-color: #7C7979;
}

.full-size-pane {
    -fx-background-color: #AAAAF3;
    -fx-pref-height: 100%;

}

.field_buscar{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-color: transparent ;
    -fx-border-color: white;
}



.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .increment-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #8e8e8e;
    -fx-background-radius: 4px;
}

.scroll-pane > .scroll-bar > .thumb:hover {
    -fx-background-color: #707070;
}

.scroll-pane > .scroll-bar:vertical > .increment-arrow,
.scroll-pane > .scroll-bar:vertical > .decrement-arrow,
.scroll-pane > .scroll-bar:horizontal > .increment-arrow,
.scroll-pane > .scroll-bar:horizontal > .decrement-arrow {
    -fx-background-color: transparent;
}
