.btn_login{
    -fx-background-color: #282727;
    -fx-border-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}


.btn_borrar{
    -fx-background-color: #F01A30;
    -fx-border-color: BLACK;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10;
}

.btn_login:hover{
    -fx-background-color: #7C7979;
}

.panel_login{
    -fx-background-color: white;
    -fx-background-radius: 30 30 30 30;
    -fx-border-radius: 20 20 20 20;
}

.label_Login{
    -fx-text-fill:  #282727;
    -fx-font-weight: bold;
}

.field_Login{
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: transparent ;
    -fx-border-color: #282727;
}



.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .increment-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #8e8e8e;
    -fx-background-radius: 4px;
}

.scroll-pane > .scroll-bar > .thumb:hover {
    -fx-background-color: #707070;
}

.scroll-pane > .scroll-bar:vertical > .increment-arrow,
.scroll-pane > .scroll-bar:vertical > .decrement-arrow,
.scroll-pane > .scroll-bar:horizontal > .increment-arrow,
.scroll-pane > .scroll-bar:horizontal > .decrement-arrow {
    -fx-background-color: transparent;
}
