
.BorderPane{
    -fx-background-color: #131313;
}

.vBox{
    -fx-background-color: #131313;


}

.head{
 -fx-background-color: #a9c7e5;
}
.Label_Titulo{
 -fx-text-fill:  White;
    -fx-font-weight: bold;
}

-fx-text-fill:  white;
    -fx-font-weight: bold;

.panelCentral{
    -fx-background-color:  #ebeef1;
}

.Nombre{
    -fx-text-fill:  white;
     -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.NombreH{
    -fx-text-fill: green;
}


.panelContenido{
    -fx-background-color:   #262626;
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;


}

.panelContenidoHover{

    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
     -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
    -fx-border-color: white;
}





.imagen{
 -fx-border-radius: 10px;
     -fx-border-color: black; /* Color del borde */
     -fx-border-width: 2px;
    }


.prueba {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0.0, 0.0);
}




.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .increment-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .decrement-button {
    -fx-background-color: transparent;
}

.scroll-pane > .scroll-bar > .thumb {
    -fx-background-color: #8e8e8e;
    -fx-background-radius: 4px;
}

.scroll-pane > .scroll-bar > .thumb:hover {
    -fx-background-color: #707070;
}

.scroll-pane > .scroll-bar:vertical > .increment-arrow,
.scroll-pane > .scroll-bar:vertical > .decrement-arrow,
.scroll-pane > .scroll-bar:horizontal > .increment-arrow,
.scroll-pane > .scroll-bar:horizontal > .decrement-arrow {
    -fx-background-color: transparent;
}



